*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer aside";
    grid-template-columns: 70% 30%;
    grid-template-rows: 10vh 70vh 20vh;
}
header{
    grid-area: header;
    background: black;
}
aside{
    grid-area: aside;
    background: gray;
}
footer{
    grid-area: footer;
    background: darkblue;
}
main{
    grid-area: main;
    background: beige;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "image name"
    "icon icon";
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.image{
    grid-area: image;
    width: 10cm; height: 15cm;
}
.name{
    grid-area: name;
}
.icon{
    grid-area: icon;
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: space-evenly;
    justify-items: center;
}
